
Thumbnail = {
	Snapshot = {
		"content/models/characters/cat_fu/Cat_Fu.unit" = {
			far_range = 10000
			interest_point_distance = 3.25276
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				0.183389
				2.766705
				1.457827
			]
			projection_type = "perspective"
			rotation = [
				-0.00205
				-0.071909
				0.997004
				0.028422
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
	}
}